<h1>Resultados da busca</h1>
<% if @search_results.present? %>
  <p><%= "O #{@search_results.item_type.name} com número de registro #{@search_results.registry_number} foi reportado como roubado" %></p>
    <p><%= simple_form_for @search_results do |f| %></p>
        <%= f.input :title, label: 'Paradeiro do item:', as: :text %>
        <%= f.submit 'Enviar para o proprietário' %>
  <% end %>
<% end %>